/***** vitepress 样式优化 ******/

/* 大屏大一点 */
@media (min-width: 1440px) {
    .VPDoc.has-aside .content-container.content-container {
      max-width: 100%;
    }
}
  
  /* nav 换行问题（6 个还是有点小多，后面看看怎么优化） */
@media (max-width: 960px) {
  .VPNav {
    .VPNavBarMenuLink,
    .VPNavBarMenuGroup .button {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}
  
  /* 代码块标题，跟 h6 一样 */
.custom-block .custom-block-title {
  font-size: 16px;
}

// 注释超链接的下划线
.VPFooter[data-v-0d2ec971] a {
    text-decoration-line: none;
    text-underline-offset: 2px;
    transition: color 0.25s;
    color: rgb(7.1084070796, 86.0907079646, 171.3915929204); /* 设置颜色为蓝色 */
    // font-weight: bold; /* 设置字体加粗 */
}

// 鼠标悬停时颜色保持为蓝色
.VPFooter[data-v-0d2ec971] a:hover {
    color: rgb(7.1084070796, 86.0907079646, 171.3915929204);
}

.message[data-v-0d2ec971], .copyright[data-v-0d2ec971] {
      line-height: 24px;
    font-size: 14px;
    font-weight: 500;
    color: rgba(60, 60, 67, .78);
}